<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{article.title || "发布文章"}}</title>

    {{include "public/head"}}

    <style>
        .droppable-area-article{ min-height:auto; height:200px; line-height:200px; text-align:center; font-size:20px; color:#646565; background:#ededed; border:2px dashed #cbcbcb; padding:0; position:relative; cursor:pointer;}
        .droppable-area-article .proccess{ display:none; width:80%; height:20px; background:#ccc; border-radius:10px; margin-top:-10px; position:absolute; left:10%; top:50%;}
        .droppable-area-article .proccess .proccess_bar{ width:0; height:100%; background:#1DC116; border-radius:10px; position:absolute; left:0; top:0;}
        .droppable-area-article .preview{ display:none; width:100%; height:100%; background-position:center center; background-repeat:no-repeat; background-size:cover; position:absolute; left:0; top:0; cursor:default;}

        .droppable-area-article .btn-change{ display:none; width:32px; height:32px; border-radius:4px; box-shadow:rgba(255, 255, 255, 0.2) 0 0 0 1px; background:url(/public/images/ico-delete.png) no-repeat; position:absolute; right:10px; top:10px; cursor:pointer; transition:background 0.3s;}
        .droppable-area-article .btn-change:hover{ background-color:rgba(0, 0, 0, 0.2);}
    </style>

    <script src="/public/js/ueditor/ueditor.config.js"></script>
    <script src="/public/js/ueditor/ueditor.all.js"></script>
    <script src="/public/js/dropzone/dropzone.min.js"></script>
</head>
<body>
    {{include "public/top"}}
    {{include "public/nav"}}
    <div class="container">

        <div class="content article-cont">
            <h2 class="title">资讯发布</h2>
            <form class="wrap base-edit article-edit" action="" method="post">
                <ul>
                    <li>
                        <div class="tit">标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：</div>
                        <input type="text" name="title" id="" class="t" value="{{article.title}}">
                    </li>
                    <li>
                        <div class="tit">发布日期：</div>
                        <input type="text" name="create_at" id="" class="t date" onclick="laydate({format : 'YYYY-MM-DD hh:mm:ss', istime: true,});" value="{{if article.create_at}}{{moment(article.create_at).format('YYYY-MM-DD HH:mm:ss')}}{{else}}{{moment().format('YYYY-MM-DD HH:mm:ss')}}{{/if}}">
                    </li>
                    <li>
                        <div class="tit">背景图：</div>
                        <div id="advancedDropzone" class="droppable-area-article">
                            Drop files here(or click) to upload
                            <div class="proccess">
                                <div class="proccess_bar"></div>
                            </div>
                            <div class="preview"{{if article.background}} style="display:block;background-image:url({{article.background}})"{{/if}}>
                                <span class="btn-change"></span>
                            </div>
                        </div>
                        <input type="hidden" name="background" id="background" value="{{article.background}}">
                    </li>
                    <li>
                        <div class="tit">单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页：</div>
                        <select name="feature" id="">
                            <option value="1" {{if article.feature === '1'}}selected="selected"{{/if}}>是</option>
                            <option value="2" {{if article.feature !== '1'}}selected="selected"{{/if}}>否</option>
                        </select>
                    </li>
                    <li>
                        <div class="tit">推&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;荐：</div>
                        <select name="recommend" id="">
                            <option value="1" {{if article.recommend === '1'}}selected="selected"{{/if}}>是</option>
                            <option value="2" {{if article.recommend !== '1'}}selected="selected"{{/if}}>否</option>
                        </select>
                    </li>
                    <li>
                        <div class="tit">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：</div>
                        <select name="status" id="">
                            <option value="1" {{if article.status === '1'}}selected="selected"{{/if}}>显示</option>
                            <option value="2" {{if article.status !== '1'}}selected="selected"{{/if}}>隐藏</option>
                        </select>
                    </li>
                    <li>
                        <div class="tit">简&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;介：</div>
                        <textarea name="brief" id="brief" cols="30" rows="10">{{#article.brief}}</textarea>
                    </li>
                    <li>
                        <div class="tit">内&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;容：</div>
                        <textarea name="content" id="content" cols="30" rows="10">{{#article.content}}</textarea>
                    </li>
                    <li>
                        <span class="btn btn-submit">提交</span>
                        <a class="btn btn-back" href="/admin/article/list">返回</a>
                    </li>
                </ul>

            </form>
        </div>
        <script>
            UE.getEditor('content');
            UE.getEditor('brief', {
                initialFrameHeight:100,  //初始化编辑器高度,默认320
                toolbars: [[
                    'source', '|', 'undo', 'redo', '|',
                    'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'cleardoc', '|',
                    'background', '|',
                    'date', 'time', 'spechars', '|',
                    'searchreplace'
                ]]
            });


            $(".btn-submit").on("click", function () {
                $("form").submit();
            });

            $(".upload img").on("click", function () {
                var $src = $(this).attr("src");
                layer.open({
                    type: 1,
                    title: false,
                    area: '510px',
                    skin: 'layui-layer-nobg', //没有背景色
                    shadeClose: true,
                    content: '<img style="display:block;width:100%;" src="' + $src + '" />'
                });
            });

            $("#advancedDropzone").dropzone({
                url: '/admin/uploadfile',
                // Events
                init : function () {
                    var that = this;
                    if($(that.element).find(".preview").css("background-image") != "none"){
                        $(this.element).find(".btn-change").show();
                    }
                    $(this.element).find(".btn-change").on("click", function () {
                        $(this).hide();
                        $(that.element).find(".preview").removeAttr("style");
                    })
                },
                addedfile: function(file){
                    $(this.element).find(".proccess").show();
                    $(this.element).find(".proccess .proccess_bar").width(0);
                    console.log(file);
                },

                uploadprogress: function(file, progress, bytesSent){
                    $(this.element).find(".proccess .proccess_bar").width(progress + '%');
                },

                success: function(file, res){
                    console.log(res);
                    articleCover = res.url;
                    $(this.element).find(".proccess").hide();
                    $(this.element).find(".btn-change").show();
                    $(this.element).find(".preview").css({"background-image" : "url(" + res.url + ")"}).show();
                    $("#background").val(res.url);
                },

                error: function(){
                    $(this.element).find(".proccess").removeClass('progress-bar-warning').addClass('progress-bar-red');
                }
            });
        </script>
    </div>
</body>
</html>
