<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户列表</title>

    {{include "public/head"}}

</head>
<body>
{{include "public/top"}}
{{include "public/nav"}}
<div class="container">

    <div class="content article-cont">
        <h2 class="title"><a class="btn" href="/admin/team/edit">添加用户</a>用户管理</h2>
        <div class="wrap">
            <div class="search">
                <span>类型：</span>
                <input type="text" class="text" value="">
                <span>标题：</span>
                <input type="text" class="text" value="">
                <span>状态：</span>
                <select name="" id="">
                    <option value="">全部</option>
                </select>
                <span>发布日期：</span>
                <input type="text" class="time" value="">
                <i>—</i>
                <input type="text" class="time" value="">
                <span class="btn">搜索</span>
            </div>
            <table class="record" border="0" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th width="20%" scope="col">用户ID</th>
                    <th width="40%" scope="col">用户名</th>
                    <th width="15%" scope="col">昵称</th>
                    <th width="15%" scope="col">头像</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                {{each users}}
                <tr>
                    <td>{{$value.uid}}</td>
                    <td><a href="/author/{{$value.uid}}" target="_blank">{{$value.username}}</a></td>
                    <td>{{$value.nickname}}</td>
                    <td>
                        <img src="{{$value.avator}}" alt="" style="display: block;width:50px; height:50px;margin:0 auto;">
                    </td>
                    <td>
                        <a class="btn" href="/admin/team/edit/{{$value.uid}}">编辑</a>|<span class="btn">删除</span>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
            <dl class="pager">
                <dt>共 56 条，每页显示 12 条，共 5 页，当前为第 1 页</dt>
                <dd>
                    第1页/共30页
                    <a href="javascript:void(0);" class="first disabled">首页</a>
                    <a href="javascript:void(0);" class="prev disabled">上一页</a>
                    <span class="cur">1</span>
                    <a href="" class="page">2</a>
                    <a href="" class="page">3</a>
                    <a href="" class="page">4</a>
                    <a href="" class="page">5</a>
                    <a href="" class="next">下一页</a>
                    <a href="" class="last">末页</a>
                </dd>
            </dl>
        </div>
    </div>

</div>
</body>
</html>
