    <div class="side-menu">
        <div class="logo"></div>
        <div class="nav">
            <dl>
                <dt><i class="ico ico-4"></i><span>文章管理</span></dt>
                <dd><a href="/admin/article/edit">发布文章</a></dd>
                <dd><a href="/admin/article/list">文章列表</a></dd>
            </dl>
            <dl>
                <dt><i class="ico ico-3"></i><span>用户管理</span></dt>
                <dd><a href="/admin/team/edit">添加用户</a></dd>
                <dd><a href="/admin/team/list">用户列表</a></dd>
            </dl>
            <dl>
                <dt><i class="ico ico-1"></i><span>系统设置</span></dt>
                <dd><a href="/admin/settings/general">全局设置</a></dd>
                <dd><a href="/admin/settings/navigation">导航菜单</a></dd>
                <dd><a href="/admin/settings/code-injection">插入代码</a></dd>
            </dl>
            <dl>
                <dt><i class="ico ico-6"></i><span><a href="/admin/settings/modifypwd">修改密码</a></span></dt>
            </dl>
        </div>
    </div>