    <div class="side-menu">
        <div class="logo"></div>
        <div class="nav">
            <dl>
                <dt><i class="ico ico-1"></i><span>产品管理</span></dt>
                <dd><a href="产品管理.html">产品管理</a></dd>
                <dd><a href="产品审核.html">产品审核</a></dd>
                <dd><a href="投资管理.html">投资管理</a></dd>
                <dd><a href="转让管理.html">转让管理</a></dd>
                <dd><a href="领投人管理.html">领投人管理</a></dd>
            </dl>
            <dl>
                <dt><i class="ico ico-2"></i><span>财务管理</span></dt>
                <dd><a href="提现管理.html">提现管理</a></dd>
                <dd><a href="资金流动汇总.html">资金流动汇总</a></dd>
                <dd><a href="客户资金明细.html">客户资金明细</a></dd>
            </dl>
            <dl>
                <dt><i class="ico ico-3"></i><span><a href="会员管理.html">会员管理</a></span></dt>
            </dl>
            <dl>
                <dt><i class="ico ico-4"></i><span>文章管理</span></dt>
                <dd><a href="/admin/article/edit">发布文章</a></dd>
                <dd><a href="/admin/article/list">文章列表</a></dd>
            </dl>
            <dl>
                <dt><i class="ico ico-5"></i><span>账户管理</span></dt>
                <dd><a href="管理员管理.html">管理员管理</a></dd>
                <dd><a href="操作日志.html">操作日志</a></dd>
                <dd><a href="权限设置.html">权限设置</a></dd>
            </dl>
            <dl>
                <dt><i class="ico ico-6"></i><span><a href="修改密码.html">修改密码</a></span></dt>
            </dl>
        </div>
    </div>