<div class="sub-cont">
	<div class="profile"><a href="/"><img src="{{ sets.logo || '/public/images/ico-default.png'}}" /></a></div>
    <div class="sub-name">
    	<h2>{{sets.name}}</h2>
        <p>{{sets.brief}}</p>
    </div>
    <ul class="sub-nav">
        {{each nav}}
    	<li><a href="{{$value.url}}">{{$value.name}}</a></li>
        {{/each}}
    </ul>
    <div class="sub-link">
    	<a href="" class="ico github"></a>
    	<a href="" class="ico mail"></a>
    	<a href="" class="ico rss"></a>
    </div>
</div>